* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0d192c;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  color: white;
}

main {
  background-color: #15263f;
  width: 300px;
  height: 550px;
  border-radius: 15px;
  padding: 24px;
}

.image {
  position: relative;
}

.icon {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 60%);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.icon:hover {
  opacity: 1;
  cursor: pointer;
  border-radius: 8px;
}

.iconImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainImg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

h1 {
  font-size: 22px;
  line-height: 27.72px;
  font-weight: 600;
  margin-top: 1.5rem;
}

h2 {
  color: #8bacd9;
  margin: 0.6rem 0 1rem 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}
.price-days {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2e405a;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.price {
  color: #00fff8;
  font-weight: 600;
  line-height: 20.16px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.price img {
  margin-right: 5px;
}

.days {
  color: #8bacd9;
  font-weight: 400;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.days img {
  margin-right: 5px;
}

.creator {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #8bacd9;
}

.avatar {
  width: 33px;
  height: 33px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin-right: 1rem;
}

span {
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

.mainImg,
h1,
span {
  cursor: pointer;
}

h1:hover,
span:hover {
  color: hsl(178, 100%, 50%);
}
